<!doctype html>
<html>
    <head>
        <title>현재시간</title>
        <style>
            h1{
                font-size: 60px;
                text-align: center;
                color: white;
            }
            body{
                background-color: black;
                background-size: cover;
            }
            div{
                font-size: 40px;
                border: 5px solid yellow;
                text-align: center;
                color: white;
                margin: 0 auto;
                width: 600px;
            }
        </style>
    </head>
    <body>
        <h1>멋쟁이 사자처럼 7기와 함께하는 <br>현재 시각입니다.</h1>
        <br><br>
        <div>
            <p>{{year}}년  {{month}}월  {{day}}일  {{date}}요일</p>
            <p>{{hour}}시   {{min}}분   {{sec}}초</p>
        </div>
    </body>
</html>